body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

form {
    margin-top: 50px;
    text-align: left;
}

.signup {
    background-color: rgba(242, 241, 240, 0.75);
    border-radius: 16px;
    padding: 25px;
    width: 494;
    height: 799;
}

input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 2px;
    border: 3px solid #999999;

}