<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookEx</title>
    <link rel="stylesheet" href="{% static 'css/landingPage.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://kit.fontawesome.com/a009a71f70.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- hi-slider plugin -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link
      rel="stylesheet"
      href="/static/javaScript/plugins/hislide/jquery.hislide.min.css"
    />

    <script
      type="text/javascript"
      src="/static/javaScript/plugins/hislide/jquery.hislide.min.js"
      defer
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="/static/javaScript/landingPage.js" defer></script>
  </head>
  <body>
    <main>
      <div class="block">
        <!-- nav bar -->
        <div class="navbar">
          <div class="logo"><img src="" alt="BookEx" /></div>
          <div class="nav-links">
            <ul>
              <li><a href="#">Author</a></li>
              <li><a href="#">Services</a></li>
              <li>
                <a href="#">Categories</a>
                <div class="drop-down">
                  <ul>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Children</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Toy & Games</a></li>
                    <li><a href="#">Romance</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="to-right">
            <ul>
              <li><a href="/signin">Sign In</a></li>
            </ul>
            <div>
              <a href="/signup">
              <button class="btn create_btn">Create account</button>
              </a>
            </div>
          </div>
        </div>
        
        <!-- --------Hero section------- -->
        
        <section class="hero"></section>
            <div class="hero-img">
             <img class="image-1" src="{% static 'images/book_in_forest.jpg' %}" alt="image-1">
            </div>
        
          <div class="container">
            <div class="quote">
              <p class="quote-text">A place where you can buy knowledge.</p>
            </div>
             <div class="search-box">
              <input class="search" type="search" placeholder="Search" />
              <i class="search-icon fa-magnifying-glass"></i>
             </div>
         </div>
        </section>
      </div>

      <!-- contains every body of the landing page -->
      <section class="best_selling_books_sec">
        <p class="heading">Best selling books</p>
        <p class="sub_heading">Our products</p>
        <div class="book_img_container hi-slide">
          <div class="hi-prev"></div>
          <div class="hi-next"></div>
          <ul class="hi-slide book_img_rotator">
            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_1.png' %}" alt="image-2">
            </li>
            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_2.png'%}" alt="" />
            </li>
            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_3.png'%}" alt="" />
            </li>
            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_4.png'%}" alt="" />
            </li>

            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_5.png'%}" alt="" />
            </li>
            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_6.png'%}" alt="" />
            </li>
            <li class="hiSlider-item">
              <img src="{% static 'images/book_img_7.png'%}" alt="" />
            </li>
          </ul>
        </div>
        <div>
          <button class="btn buy_btn">Buy</button>
        </div>
      </section>
      <section class="testimonials">
        <div class="header">
          <p class="heading">Our testimonials</p>
          <p class="sub_heading">What our clients say about us</p>
        </div>
        <div class="review_cards">
          <div id="card_1" class="card slide_right">
            <div class="img">
              <img src="{% static 'images/people_1.jpg'%}" alt="user_1" />
            </div>
            <div class="person_info_title">
              <p class="sub_heading">Name1</p>
              <p class="designation">Freelance Writer</p>
            </div>
            <div class="comnt_and_rev">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              fugiat eligendi nobis magni distinctio odio accusantium quasi
              veniam odit repudiandae labore ducimus ratione ad error laborum
              commodi quo, sit aspernatur.
            </div>
          </div>
          <div id="card_2" class="card slide_left">
            <div class="img">
              <img src="{% static 'images/people_3.jpg'%}" alt="user_2" />
            </div>
            <div class="person_info_title">
              <p class="sub_heading">Name2</p>
              <p class="designation">Entrepreneur</p>
            </div>
            <div class="comnt_and_rev">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              fugiat eligendi nobis magni distinctio odio accusantium quasi
              veniam odit repudiandae labore ducimus ratione ad error laborum
              commodi quo, sit aspernatur.
            </div>
          </div>
          <div id="card_3" class="card slide_right">
            <div class="img">
              <img src="{% static 'images/people_2.jpg'%}" alt="user_3" />
            </div>
            <div class="person_info_title">
              <p class="sub_heading">Name3</p>
              <p class="designation">Businessman</p>
            </div>
            <div class="comnt_and_rev">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              fugiat eligendi nobis magni distinctio odio accusantium quasi
              veniam odit repudiandae labore ducimus ratione ad error laborum
              commodi quo, sit aspernatur.
            </div>
          </div>
          <div id="card_4" class="card slide_left">
            <div class="img">
              <img src="{% static 'images/people_4.jpg'%}" alt="user_4" />
            </div>
            <div class="person_info_title">
              <p class="sub_heading">Name4</p>
              <p class="designation">Blockchain developer</p>
            </div>
            <div class="comnt_and_rev">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              fugiat eligendi nobis magni distinctio odio accusantium quasi
              veniam odit repudiandae labore ducimus ratione ad error laborum
              commodi quo, sit aspernatur.
            </div>
          </div>
        </div>
      </section>
      <section class="subscription">
        <div>
          <p class="heading">Subscribe to our newsletter!</p>
          <p>Subscribe to our newsletter and stay updated</p>
        </div>
        <div class="input_email">
          <form action="add_newsletter/" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your email" required />
            <button class="btn sub_btn" type="submit">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

    <!-- footer section -->
    <footer>
      <div class="links">
        <div class="short_description">
          <img src="" alt="LOGO" />
          <p>
            BookEx is an online book echanging platform. The platform aids
            readers to exchange their books with others.
          </p>
        </div>
        <div class="quick_links">
          <p class="sub_heading">Quick Links</p>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Our services</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="customer_area">
          <p class="sub_heading">Customer Area</p>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="category">
          <p class="sub_heading">Category</p>
          <ul>
            <li><a href="#">Business</a></li>
            <li><a href="#">Children</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Fiction</a></li>
            <li><a href="#">Romance & erotic</a></li>
            <li><a href="#">Toys & games</a></li>
          </ul>
        </div>
        <div class="social_media">
          <ul>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright_sec">xxx - All rights Reserved</div>
    </footer>
  </body>
</html>