<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookEx</title>
    <link rel="stylesheet" href="../../static/css/landingPage.css" />
    <!-- <link rel="stylesheet" href="{% static '../../static/css/landingPage.css' %}" /> -->
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="/static/javaScript/landingPage.js" defer></script>
  </head>
  <body>
    <main>
      <div class="block">
        <!-- nav bar -->
        <div class="navbar">
          <div class="logo"><img src="" alt="BookEx" /></div>
          <div class="nav-links">
            <ul>
              <li><a href="#">Author</a></li>
              <li><a href="#">Services</a></li>
              <li>
                <a href="#">Categories</a>
                <div class="drop-down">
                  <ul>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Children</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Toy & Games</a></li>
                    <li><a href="#">Romance</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="to-right">
            <ul>
              <li><a href="/signin">Sign In</a></li>
            </ul>
            <div>
              <a href="/signup">
              <button class="btn create_btn">Create account</button>
              </a>
            </div>
          </div>
        </div>
        
        <!-- --------Hero section------- -->
        
        <section class="hero"></section>
            <div class="hero-img">
             <img class="image-1" src="{% static 'images/book_in_forest.jpg' %}" alt="image-1">
            </div>
        
          <div class="container">
            <div class="quote">
              <p class="quote-text">A place where you can buy knowledge.</p>
            </div>
             <div class="search-box">
              <input class="search" type="search" placeholder="Search" />
              <i class="search-icon fa-magnifying-glass"></i>
             </div>
         </div>
        </section>
      </div>
      <section class="service-sec">
        <h2 class="service-heading heading">Services</h2>
        <p class="service-sub sub_heading">We provide the exclusive platform for readers to buy sell and exchange <br>
          owned book among the readers.</p>
          <div class="service-box">
            <div class="buy-box box">
              <h3 class="buy-head box-head">Buy</h3>
              <p class="box-text">Buy pre-owned books directly from other reader in discounted prices.</p>
            </div>
            <div class="exchange-box box">
              <h3 class="exchange-head box-head">Exchange</h3>
              <p class="box-text">Connect to people,exchange your book with readers and enjoy new books every single time for free.</p>
            </div>
            <div class="sell-box box">
              <h3 class="sell-head box-head">Sell</h3>
              <p class="box-text">Sell your books to the reader who has similar interest.</p>
            </div>
          </div>
      </section>

      <!-- best selling books section -->
      <section class="best_selling_books_sec">
        <p class="heading">Best selling books</p>
        <p class="sub_heading">Our products</p>
        <div class="slider-btn">
          <button class="prev-btn">
              <i class="fas fa-chevron-left"></i>
          </button>
          <button class="next-btn">
              <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="slider">
            <div class="book-container"></div>
        </div>
        <a href="categories.html"> <!-- links to page with different lists of books displayed in carousels -->
          <button class="btn explore-btn">Explore books</button>
        </a>
      </section>
      <section class="subscription">
        <div>
          <p class="heading">Subscribe to our newsletter!</p>
          <p>Subscribe to our newsletter and stay updated</p>
        </div>
        <div class="input_email">
          <form action="add_newsletter/" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your email" required />
            <button class="btn sub_btn" type="submit">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

    <!-- footer section -->
    <footer>
      <div class="links">
        <div class="short_description">
          <img src="" alt="LOGO" />
          <p>
            BookEx is an online book echanging platform. The platform aids
            readers to exchange their books with others.
          </p>
        </div>
        <div class="quick_links">
          <p class="sub_heading">Quick Links</p>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Our services</a></li>
            <li><a href="#">Authors</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="customer_area">
          <p class="sub_heading">Customer Area</p>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="category">
          <p class="sub_heading">Category</p>
          <ul>
            <li><a href="#">Business</a></li>
            <li><a href="#">Children</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Fiction</a></li>
            <li><a href="#">Romance & erotic</a></li>
            <li><a href="#">Toys & games</a></li>
          </ul>
        </div>
        <div class="social_media">
          <ul>
            <li>
              <a href="#" class="social-media-icon"><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a href="#" class="social-media-icon"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#" class="social-media-icon"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="social-media-icon"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#" class="social-media-icon"><i class="fab fa-dribbble"></i></a>
            </li>
            <li>
              <a href="#" class="social-media-icon"><i class="fab fa-tiktok"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright_sec">xxx - All rights Reserved</div>
    </footer>
  </body>
</html>