<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://kit.fontawesome.com/a009a71f70.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="form_container">
        <div class="sub_heading sign_up">
            <h2>Login</h2>
        </div>
        <form action="/signin/" method="POST">
            {% csrf_token %}
            <div class="username">
                <!--   
                <div class="input first-name">
                    <label for="fname">Firstname</label>

                    <input type="text" id="fname" name="fname" placeholder="&#xf007; Your First name">
                </div>
                <div class="input last-name">
                    <label for="lname">Lastname</label>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="lname" name="lname" placeholder="&#xf007; Your last name">
                </div>

                -->

            </div>
            <div class="input user-name">
                <label for="lname">Username</label>
                <i class="fa-solid fa-user"></i>
                <input type="text" id="username" name="username" placeholder="&#xf007;username">
            </div>

            <div class="input password">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="&#xf007; Enter your password">
            </div>

            <div class="forget_password">
                <p class="forgot_password"><a href="#">forgot password?</a></p>
            </div>
            <button type="submit" class="btn">LOGIN</button>
        </form>
        <div class="social">
            <p>OR sign up using</p>
            <a href="#"><i class="fa-brands fa-google"></i> </a>
            <a href="#"><i class="fa-brands fa-facebook"></i> </a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <p class="OR_SIGNUP"><a href="#">SIGN UP</a></p>
    </div>
    <div class="modal_container"> <!--NOTE: Add 'active' class to display modal-->
        <div class="modal">
            <div class="close">
                <label for="close_modal">
                    <i class="far fa-times-circle"></i>
                </label>
                <input type="checkbox" name="close_modal" id="close_modal" class="modal_close">
            </div>
            <i class="fas fa-check-circle"></i>
            <p>Successful</p>
        </div>
    </div>
</body>

</html>