<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup form</title>

    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://kit.fontawesome.com/a009a71f70.js" crossorigin="anonymous"></script>
</head>
<style>
    input {
        font-family: 'Poppins', FontAwesome;
    }
</style>

<body>
    <div class="form_container">
        <div class="sub_heading sign_up">
            <h2>Sign up</h2>
        </div>
        <form action="/signup/" method="POST">
          {% csrf_token %}
            <div class="input user-name">
                <label for="lname">Username</label>
                <input type="text" id="username" 
                class = "error"
                name="username" placeholder="&#xf007;  Username ">
                <span class="msg">Valid username</span>
            </div>
            <div class="input email">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class = "error" placeholder="&#xf0e0;  Enter your Email">
                <span class="msg">Invalid email</span>
            </div>
            <div class="input password">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" 
                class = ""
                placeholder="&#xf023;  Enter your password">
                <span class="msg">Password doesn't match</span>
            </div>
            <div class="input re-password">
                <label for="confirm">Confirm password</label>
                <input type="password" id="confirm" name="confirm_password"
                class = ""
                placeholder="&#xf023;  Re-enter your password">
                <span class="msg">Password doesn't match</span>
            </div>
            <button class="btn sign-up-btn">Sign up</button>
        </form>
        <div class="social">
            <p>OR</p>
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <p class="already_user">Already a user? <a href="/signin">LOGIN</a></p>
    </div>
    
                <div class="modal_container {% if user_form.errors %}active{% endif %}"> <!--NOTE: Add 'active' class to display modal-->
                    <div class="modal">
                            <div class="close">
                                <label for="close_modal">
                                    <i class="far fa-times-circle"></i>
                                </label>
                                <input type="checkbox" name="close_modal" id="close_modal" class="modal_close">
                            </div>
                        <i class="fas fa-check-circle"></i>
                        <p> 
                            {% for field, error in user_form.errors.items %}
                                
                                {{ error | striptags }}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>             
</body>
</html>