@import url(style.css);
@import url(navbar.css);
@import url(slider.css);
@import url(footer.css);

body {
  background-color: var(--primary-color);
}

.hero-img {
  max-width: 100%;
}
.image-1 {
  width: 100%;
}
/* hero section */

.quote {
  position: absolute;
  top: 20rem;
  left: 25rem;
  width: 35rem;
  text-align: center;
}

.quote-text {
  color: var(--txt-primary-color);
  font-size: var(--fnt-size-heading);
  font-weight: var(--fnt-wght-thin);
}
.hero-text {
  position: absolute;
  top: 20rem;
  left: 38rem;
  width: 50rem;
}
.htext {
  color: var(--txt-primary-color);
  font-size: var(--fnt-size-medium);
  font-weight: var(--fnt-wght-thin);
}
.search-box {
  position: absolute;
  top: 30rem;
  left: 30rem;
}
.search {
  border-radius: 1.5rem;
  border: 2px solid rgba(225, 225, 225, 0.25);
  width: 27rem;
  height: 3rem;
  background: rgba(225, 225, 225, 0.25);
  box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
  backdrop-filter: blur(5px);
}
.search::placeholder {
  color: var(--txt-primary-color);
  padding: 1rem;
}
.search-icon {
  position: relative;
  right: 3rem;
  color: var(--txt-primary-color);
}

/* service section */

.service-sec {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 5rem;
}
.service-sub {
  font-size: var(--fnt-size-sub-heading);
  font-weight: var(--fnt-wght-thin);
  margin-top: 3rem;
}
.service-box {
  display: flex;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.box {
  width: 20rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--accent-color);
  opacity: 0.9;
  height: 15rem;
  box-shadow: 0 8px 32px 0 rgba(23, 23, 22, 0.3);
}
.exchange-box {
  width: 23rem;
  height: 18rem;
}
.box-head {
  padding-top: 3rem;
}
.box-text {
  padding-top: 2rem;
  color: wheat;
}

/* responsive design */

@media screen and (max-width: 800px) {
  .service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .exchange-box {
    width: 20rem;
    height: 15rem;
  }
}

/* best selling books section */
.best_selling_books_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: var(--section-padding);
  padding-bottom: 5rem;
  --border-color: var(--accent-color);
}

.explore-btn {
  --width: 240px;
  width: var(--width);
  height: 55px;
  cursor: pointer;
}

.explore-btn::before {
  --width: 100%;
  --height: 55px;
}

/* subscription section */
.subscription {
  padding: 3rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  background-color: var(--accent-color);
}

.subscription :nth-child(2) {
  line-height: 2.5rem;
}

.subscription .heading {
  color: var(--txt-primary-color);
}

.subscription .heading + p {
  color: var(--primary-color);
}

input[type="email"] {
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  width: 240px;
  padding: 10px 20px;
  margin-top: 5px;
}

input[type="email"]:focus {
  border: 2px solid var(--txt-secondary-color);
}

.sub_btn {
  --width: 120px;
  width: var(--width);
  height: 45px;
  cursor: pointer;
  margin-left: 10px;
  color: var(--txt-secondary-color);
  --border-color: var(--txt-secondary-color);
}

.sub_btn::before {
  --width: 100%;
  --height: 45px;
  background-color: var(--txt-secondary-color);
}

.sub_btn:hover {
  box-shadow: 0 1px 5px var(--txt-secondary-color);
}

.sub_btn:active {
  box-shadow: 0 1px 16px var(--txt-secondary-color);
}

/* responsive design */
@media screen and (max-width: 1024px) {
  .explore-btn {
    --width: 200px;
    width: var(--width);
    height: 50px;
  }

  .input_email form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  input[type="email"] {
    width: 120%;
  }

  .sub_btn {
    margin: 20px 0;
    width: 120%;
  }

  .subscription .heading {
    font-size: var(--fnt-size-sub-heading);
  }

  .subscription .heading + p {
    font-size: var(--fnt-size-smaller);
  }
}

@media screen and (max-width: 800px) {
.subscription {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
}