@import url(style.css);

.block {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  border: 10x solid rgba(225, 225, 225, 0.18);
  background: rgba(225, 225, 225, 0.25);
  box-shadow: 0 8px 32px 0 rgba(22, 22, 23, 0.37);
  backdrop-filter: blur(5px);
}
.nav-links ul {
  display: flex;
  list-style: none;
}

.logo {
  margin: 1rem;
}

.nav-links li a {
  text-decoration: none;
  margin: 1rem;
  color: var(--txt-primary-color);
  transition: ease 0.5s;
}
.nav-links li a:hover {
  color: var(--accent-color);
}
.to-right {
  display: flex;
  margin: 1rem;
  padding-right: 3rem;
}
.to-right ul {
  list-style: none;
}
.to-right li a {
  text-decoration: none;
  margin: 1rem;
  color: var(--txt-secondary-color);
  padding-right: 2rem;
}

.create_btn {
  width: 160px;
  color: var(--txt-primary-color);
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.create_btn::before {
  width: 160px;
  height: 30px;
}

.image-1 {
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
/* hero section */

.container {
  width: 100%;
}
.quote {
  position: absolute;
  top: 9rem;
  left: 5rem;
  width: 25rem;
}

.quote-text {
  color: var(--txt-secondary-color);
  font-size: var(--fnt-size-sub-heading);
  font-weight: var(--fnt-wght-semi-bold);
}

/* best selling books section */
.best_selling_books_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

.book_img_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  cursor: grab;
}

.book_img {
  width: 100px;
  height: 160px;
  background-color: var(--txt-color-light);
  border: 1px solid var(--txt-secondary-color);
}

.buy_btn {
  position: relative;
  --width: 160px;
  width: var(--width);
  height: 55px;
  overflow: hidden;
}

.buy_btn::before {
  --width: 160px;
  --height: 55px;
}
