@import url(style.css);

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('/images/hovering_book.jpg') no-repeat fixed center; /* bg-img bg-repeat bg-attachment bg-position */
    background-size: cover; 
}

form.signup {
    margin: 50px 0;
    text-align: left;
    background-color: rgba(242, 241, 240, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 16px;
    padding: 25px;
    /* min-width: 494;
    min-height: 500; */
    margin-top: 5px;
    position: relative;
    line-height: 1.25rem;
}

.logo {
    margin-top: 20px;
    margin-bottom: 5px;
}

.user_icon {
    position: absolute;
    top: calc(20%);
}

.user_email {
    position: absolute;
    top: calc(34%);
}

.user_password {
    position: absolute;
    top: calc(48%);
}

.re_password {
    position: absolute;
    top: calc(61%);

}

form h2 {
    text-align: center;
    margin: 10px 0 40px 0;
}

label {
    font-weight: var(--fnt-wght-semi-bold);
}

input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 2px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: rgba(242, 241, 240, 0.75);
    background: transparent;
    padding-left: 20px;
}

.signup>button {
    --width: 350px;
    width: var(--width);
    height: 40px;
}

.or,
.social,
.already_user
{
    text-align: center;
    margin: 20px;
}

.social > a {
    text-decoration: none;
}