@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap%27");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  /* colors */
  --primary-color: hsl(32, 37%, 92%);
  --secondary-color: hsl(35, 51%, 76%);
  --accent-color: hsl(36, 62%, 62%); /*includes btn-color*/
  --txt-primary-color: hsl(17, 47%, 12%);
  --txt-secondary-color: hsl(0, 0%, 0%);
  --txt-color-light: hsl(0, 0%, 47%);

  /* font sizes */
  --fnt-size-title: 40px;
  --fnt-size-heading: 30px;
  --fnt-size-sub-heading: 24px;
  --fnt-size-medium: 20px;
  --fnt-size-norm: 18px;
  --fnt-size-small: 16px;
  --fnt-size-smaller: 14px;
  --fnt-size-btn-mb: 10px;

  /* font weight  wght---> weight */
  --fnt-wght-semi-bold: 500;
  --fnt-wght-bold: 700;
  --fnt-wght-thin: 200;

  /* padding variables */
  --section-padding: 2.5rem 2rem;

  /* transition variables */
  --transition: all 300ms ease-out;
}

.heading {
  font-size: var(--fnt-size-heading);
  font-weight: var(--fnt-wght-semi-bold);
}

.sub_heading {
  font-size: var(--fnt-size-sub-heading);
  color: var(--txt-color-light);
  font-weight: var(--fnt-wght-semi-bold);
}

/*NOTE: add btn class for each and every buttons */
.btn {
  cursor: pointer;
  background: transparent;
  color: var(--accent-color);
  border: 2px solid var(--border-color);
  border-radius: calc(var(--width) / 2);
  font-weight: var(--fnt-wght-semi-bold);
  transition: var(--transition);
  overflow: hidden;
}

.btn::before {
  content: '';
  width: var(--width);
  height: var(--height);
  background-color: var(--accent-color);
  position: absolute;
  top:0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-out;
}

.btn:hover::before,
.btn:hover {
  transform: scaleX(1);
  color: var(--primary-color);
  box-shadow: 0 1px 5px var(--accent-color);
}

.btn:active {
  box-shadow: 0 1px 16px var(--accent-color);
}